@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp {
  margin: 0;
}

button[aria-selected='true'] {
  background-color: #7e7e7e;
  color: white;
}

button[aria-selected='true']:hover {
  background-color: #7e7e7e;
  color: white;
}

.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary {
  background-color: #7e7e7e;
  color: #ffffff;
  border-color: #ffffff;
}

.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary:hover {
  background-color: #555555;
  color: #eeeeee;
  border-color: #dddddd;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 170 80% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 240 7.1% 84.3%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 100%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-6: 240 5.2% 37.1%;
  }
}
